.home_image {
  width: 50px;
  height: 50px;
}

nav {
  margin-bottom: 20px;
}

.break::after {
  content: "";
  clear: both;
  display: table;
}

.card:hover {
  background-color: #ccc;
}

.main-menu .card:hover {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.main-menu .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.main-item {
  height: 30vh;
  -webkit-box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.1), 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.1), 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #F8F8F8;
  margin-bottom: 0;
}

.card-img-top-main {
  margin: auto;
  height: 15vh;
}

.card-title {
  margin: 0 !important;
}

.card-body-bottom {
  background-color: rgba(0, 0, 0, 0);
  height: 0vh;
  margin: 5px 16px;
  padding: 0 !important;
  display: inline-block;
}

h4 {
  font-size: 20px !important;
  line-height: 10px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.card-body-bottom hr {
  color: #C4C4C4;
  margin: 0 0 10px !important;
}

.cart-icon {
  float: right;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin-top: -2px;
  border-radius: 10px;
}

.price {
  color: #F80000;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

#right-side {
  width: 100%;
  height: 100vh;
  margin-left: 2%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #FFFFFF;
  mix-blend-mode: normal;
  -webkit-box-shadow: -1px 0px 25px rgba(0, 0, 0, 0.25);
          box-shadow: -1px 0px 25px rgba(0, 0, 0, 0.25);
}

.cart-side-icon {
  width: 30px;
  height: 30px;
  margin: -5px 5px 5px 5px;
}

.head {
  padding: 25px 10px 0;
}

.dropdown {
  float: right;
}

.head::after {
  clear: both;
  display: table;
  content: "";
}

.dropdown button {
  border-radius: 15px;
  background: #D8D8D8;
  padding: 5px 15px;
  border: none;
  color: black;
  font-weight: bold;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-item {
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.close-icon {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: -10px;
}

.close-icon::after {
  content: "";
  display: table;
  clear: both;
}

.order-list .card {
  border: 3px solid #F0F0F0;
  border-radius: 15px;
  margin: 5px 10px;
}

.dish-img {
  
}

#category {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  padding-left: 1%;
}

.order-list {
  margin-left: 12px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
}

.order-list .card {
  border: 3px solid #F0F0F0;
  border-radius: 15px;
  margin-top: 10px;
  height: 12vh;
  min-height: 110px;
}

.dish-img {
  object-fit: content ;
  width: 50%px;
  height: 70px;
  display: block;
    margin-top: 20px;

}

.order-list .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  font-weight: bold;
  font-size: 22px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-text p {
  color: #2C3A57;
  font-size: 12px;
}

.quantity-btn {
  background: rgba(0, 0, 0, 0);
  border: 2px solid #2C3A57;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  line-height: 20px;
  margin: 0;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.bill {
  width: 100%;
}

.bill-content {
  margin-top: -16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.paid-btn {
  width: 95%;
  display: block;
  margin: auto;
  background: #F80000;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  letter-spacing: 5px;
  height: 45px;
  text-align: center;
}

.totaltax {
  margin: 0;
}
/*# sourceMappingURL=newstyle.css.map */