* {
  box-sizing: border-box;
}
body {
  background-color: rgba(248,248,248,1);
}
.background {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.nav_bar {
  width: 100vw;
  height: 8.8vh;
  line-height: 8.8vh;
  text-align: center;
  background: rgba(255,255,255,1);
  opacity: 1;
  overflow: hidden;
}
.payment_table {
  width: 33vw;
  height: 55.2vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  display: table;
  margin: 12vh auto;
  overflow: hidden;
}
.Text1 {
  color: rgba(44,58,87,1);
  position: absolute;
  top: 0vh;
  left: 0vw;
  font-family: Alatsi;
  font-weight: Regular;
  font-size: 1.25vw;
  opacity: 1;
  text-align: left;
}
.Text3 {
  color: rgba(44,58,87,1);
  position: absolute;
  top: 0.3vh;
  right: 0.7vw;
  font-family: Alatsi;
  font-weight: Bold;
  font-size: 1.5vw;
  opacity: 1;
  text-align: right;
}
.Text4 {
  color: rgba(44,58,87,1);
  position: absolute;
  top: 22.5px;
  right: 0.7vw;
  font-family: Be Vietnam;
  font-weight: Regular;
  font-size: 1vw;
  opacity: 1;
  text-align: right;
}

.Payment_method {
  width: 100%;
  height: 23.5%;
  opacity: 1;
  position: relative;
  top: 45px;
  left: 0vw;
  border: 3px solid rgba(240,240,240,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.PM_header {
  width: 100%;
  height: 5.9vh;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 0vh;
  left: 0vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.Text2 {
  color: rgba(44,58,87,1);
  position: relative;
  display: block;
  margin: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: Alatsi;
  font-weight: Regular;
  font-size: 1.4vw;
  opacity: 1;
  text-align: center;
}
.PM_table {
  width: 100%;
  height: 50%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5.9vh;
  left: 0vw;
  overflow: hidden;
}

.container {
  display: block;
  position: relative;
  padding-left: 6vh;
  padding-top: 1.5vh;
  margin-bottom: 1.9vh;
  cursor: pointer;
  font-family: Alatsi;
  font-size: 1.1vw;
  color: rgba(44,58,87,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0vh;
  width: 0vw;
  left: 2.3vw;
}

.checkmark {
  width: 2.7vh;
  height: 2.7vh;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 1.4vh;
  left: 3vh;
  border-radius: 50%;
}

.container input:checked ~ .checkmark {
  background-color: rgba(248,0,0,1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 0.6vh;
  left: 0.6vh;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 50%;
  background: rgba(44,58,87,1);
}
.visa {
  display: inline-block;
  width: 3vw;
  height: 1vw;
  background: url("./visa.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  right: 6vw;
  overflow: hidden;
}
.mastercard {
  display: inline-block;
  width: 2.43vw;
  height: 1.5vw;
  background: url("./mastercard.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  right: 2.5vw;
  overflow: hidden;
}
.VN {
  width: 2.5vh;
  height: 2.5vh;
  background: url("./VN.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  bottom: 0;
  right: 0.1vw;
  overflow: hidden;
}
.Text5 {
  color: rgba(44,58,87,1);
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: Alatsi;
  font-weight: Regular;
  font-size: 1.25vw;
  opacity: 1;
  text-align: right;
}
.Text6 {
  color: rgba(44,58,87,1);
  position: relative;
  text-align: center;
  font-family: Alatsi;
  font-weight: Regular;
  font-size: 1.7vw;
  opacity: 1;
}
.Text7 {
  color: #c4c4c4;
  position: absolute;
  right: 2.5vw;
  font-family: Alatsi;
  font-weight: Regular;
  font-size: 1.5vw;
  opacity: 1;
  text-align: left;
}
.Text8 {
  color: rgba(44,58,87,1);
  position: absolute;
  left: 12vh;
  font-family: Alatsi;
  font-weight: Regular;
  font-size: 1.7vw;
  opacity: 1;
  text-align: left;
}
.back {
  width: 6vh;
  height: 6vh;
  border: none;
  background: url("./back.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1.4vh;
  left: 4vh;
  overflow: hidden;
}
.close{
  display: none;
  border: none;
  background: url("./close.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  overflow: hidden;
  width: 1.5vh;
  height: 1.5vh;
  top: 0.8vh;
  right: 0.8vh;
}
input[type=submit][id="cancel"] {
  width: 100%;
  height: 6.8vh;
  line-height: 6.8vh;
  padding-right: 5%;
  text-align: right;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 43vh;
  border: 3px solid rgba(240,240,240,1);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.Text9 {
  color: rgba(44,58,87,1);
  position: absolute;
  right: 2vw;
  font-family: Alatsi;
  font-weight: Regular;
  font-size: 1.25vw;
  opacity: 1;
  text-align: left;
}
input[type=submit][id="pay"] {
  width: 28.5vw;
  height: 5.2vh;
  line-height: 5.2vh;
  background: rgba(248,0,0,1);
  opacity: 1;
  position: absolute;
  top: 34.7vh;
  left: 2.25vw;
  border: 3px solid rgba(248,0,0,1);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
input[type=submit]:hover > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.3;
  border-radius:30px;
}
.Text10 {
  color: rgba(255,255,255,1);
  position: relative;
  display: block;
  margin: auto;
  font-family: Alatsi;
  font-weight: Regular;
  font-size: 1.25vw;
  opacity: 1;
  text-align: center;
}
input[type=text][id="cardno"], select {
  width: 28.5vw;
  height: 5.2vh;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 19.5vh;
  left: 2.25vw;
  padding-left: 6vw;
  border: 2px solid rgba(240,240,240,1);
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}
.Text11 {
  color: rgba(44,58,87,1);
  position: absolute;
  font-family: Be Vietnam;
  font-weight: Regular;
  font-size: 1.1vw;
  opacity: 1;
  text-align: left;
}
.card {
  width: 3.25vh;
  height: 2.4vh;
  background: url("./card.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20.8vh;
  left: 3.25vw;
  overflow: hidden;
}
input[type=text][id="register_date"], select {
  width: 13.5vw;
  height: 5.2vh;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27vh;
  left: 2.25vw;
  padding-left: 1vw;
  border: 2px solid rgba(240,240,240,1);
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}
.Text12 {
  color: rgba(44,58,87,1);
  position: absolute;
  font-family: Be Vietnam;
  font-weight: Regular;
  font-size: 1.1vw;
  opacity: 1;
  text-align: left;
}
input[type=text][id="cvv"], select {
  width: 13.9vw;
  height: 5.2vh;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27vh;
  left: 16.85vw;
  padding-left: 1vw;
  border: 2px solid rgba(240,240,240,1);
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}
.Text13 {
  color: rgba(44,58,87,1);
  position: absolute;
  font-family: Be Vietnam;
  font-weight: Regular;
  font-size: 1.1vw;
  opacity: 1;
  text-align: left;
}
.question {
  width: 3vh;
  height: 3vh;
  background: url("./question.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28vh;
  right: 3vh;
  overflow: hidden;
}
@media (max-width: 425px){
  .nav_bar{
    height: 5vh;
    line-height: 5vh;
  }
  .payment_table{margin: 2% auto;padding-top: 4%;width: 100%;}
  .Payment_method{top: 55px;}
  .back{display: none;}
  .close{display: block;}
  .visa{display: none;}
  .mastercard{display: none;}
  .container {font-size: 5.5vw;padding-left: 6vh;}
  input[type=submit][id="pay"] {
    width: 98%;
    left: 1%;
  }
  input[type=text][id="cardno"] {
    width: 98%;
    left: 1%;
    padding-left: 5vh;
  }
  input[type=text][id="register_date"], select {
    width: 47%;
    left: 1%;
  }
  input[type=text][id="cvv"], select {
    width: 47%;
    left: 52%;
  }
  .Text1 {font-size: 6.25vw;}
  .Text2 {font-size: 7vw;}
  .Text3 {font-size: 7.5vw;}
  .Text4 {font-size: 5vw;padding-top: 2%;}
  .Text5 {font-size: 6.25vw;width:auto;}
  .Text6 {font-size: 8.5vw;}
  .Text7 {display: none;}
  .Text8 {display: none;}
  .Text9 {font-size: 6.25vw;}
  .Text10 {font-size: 6.25vw;}
  .Text11 {font-size: 5.5vw;}
  .Text12 {font-size: 5.5vw;}
  .Text13 {font-size: 5.5vw;}
  .question {right:3%;}
}
