* {
	box-sizing: border-box;
  }
body {
	background: #C4C4C4;
}
.nav_bar{
	position: absolute;
	width: 100vw;
	height: 8.8vh;
	left: 0;
	top: 0;
	background: rgba(255,255,255,1);
	filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.1));
	z-index: 1;
}
.chatbox{
	width: 33vw;
	height: 91.2vh;
	background: rgba(255,255,255,1);
	opacity: 1;
	position: absolute;
	top: 8.8vh;
	left: 67vw;
	overflow: hidden;
	z-index: 2;
}
.login{
	position: absolute;
	height: 3.125vh;
	left: 78vw;
	top: 2.8vh;
	font-family: Alatsi;
	font-style: normal;
	font-weight: normal;
	font-size: 1.7vw;
	line-height: 3vh;
}
.user{
	position: absolute;
	width: 4vh;
	height: 4vh;
	left: 73.7vw;
	top: 2.4vh;
	background: url(../images/user.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	overflow: hidden;
}
.home{
	position: absolute;
	left: 10.64vh;
	top: 50%;
	transform: translateY(-50%);
	font-family: Alatsi;
	font-style: normal;
	font-weight: normal;
	font-size: 1.7vw;
	line-height: 2.2vw;
	color: #2C3A57;
}
.homeimg {
	width: 6vh;
	height: 6vh;
	background: url("../images/home.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 1.4vh;
	left: 2.8vh;
	overflow: hidden;
  }
.box{
	position: absolute;
	display: inline-block;
	top: 4vh;
	height: 4.8vh;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #ffffff;
	border: none;
}
.box:hover{
	background-color: #BF6B04;
}
.nav_bar_text{
	position: relative;
	margin: auto;
	font-family: Alatsi;
	font-style: normal;
	font-weight: normal;
	font-size: 1.25vw;
	line-height: 1.6vw;
	color: #2C3A57;
}
.nav_bar_text:hover{
	color: #ffffff;
}
.mes{
	position: absolute;
	left: 67vw;
	right: 0;
	top: 8.8vh;
	bottom: 0;

	background: #FFFFFF;
	mix-blend-mode: normal;
}
.top{
	position: absolute;
	width: 100%;
	height: 11.72vh;
	left: 0;
	top: 0;
	background: #F2F2F2;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.05));
}
.ll{
	position: relative;
	left: 26.04%;
	right: 33.33%;
	top: 60%;

	font-family: Be Vietnam;
	font-style: normal;
	font-weight: normal;
	font-size: 1.25vw;
	line-height: 1.53vw;

	color: #2C3A57;
}
.sdt{
	position: absolute;
	left: 26.04%;
	right: 33.33%;
	top: 56.67%;
	bottom: 17.5%;

	font-family: Alatsi;
	font-style: normal;
	font-weight: normal;
	font-size: 1.7vw;
	line-height: 2.2vw;
	text-align: right;

	color: #D98E04;
}
.ava{
	position: absolute;
	left: 8.24%;
	top: 35.83%;
	width: 5vh;
	height: 5vh;
	background: url(../images/bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	border-radius: 50%;
	overflow: hidden;
}
.call{
	position: absolute;
	left: 85.42%;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 3.125vh;
	height: 3.125vh;
	background: url(../images/call.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	overflow: hidden;
}
.name{
	position: absolute;
	left: 26.04%;
	top: 25%;
	font-family: Alatsi;
	font-style: normal;
	font-weight: normal;
	font-size: 1.7vw;
	line-height: 2.2vw;
	color: #2C3A57;
}
.icon{
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 2vw;
	width: 2vh;
	height: 2vh;
	background: url(../images/icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	overflow: hidden;
	z-index: 1;
}
.rec{
	position: relative;
	display: block;
	top: 12.5vh;
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4vw;
	line-height: 1.7vw;
	text-align: center;
	color: #2C3A57;
}
.f7{
	position: absolute;
	width: 87.2%;
	height: 9.375vh;
	left: 50%;
	transform: translateX(-50%);
	top: 20vh;
	padding-bottom: 10%;
	border: 3px solid #9a7b4f;
	box-sizing: border-box;
	border-radius: 20px;
}
.gia{
	position: absolute;
	left: 9.8vw;
	top: 5vh;
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4vw;
	line-height: 1.7vw;
	color: #2C3A57;
}
.gia2{
	position: absolute;
	left: 15vw;
	top: 5.1vh;
	font-family: Alfa Slab One;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4vw;
	line-height: 1.875vw;
	color: #D98E04;
}
img{
	display: block;
	position: absolute;
	width: 7.2vh;
	height: 7.2vh;
	left: 2vw;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	overflow: hidden;
}
.f8{
	position: absolute;
	width: 87.2%;
	height: 9.375vh;
	left: 50%;
	transform: translateX(-50%);
	top: 30.75vh;
	border: 3px solid #9a7b4f;
	box-sizing: border-box;
	border-radius: 20px;
}
.spaghetti{
	position: absolute;
	width: 7.2vw;
	height: 9.375vh;
	left: 1.25vw;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: url(../images/spaghetti.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	overflow: hidden;
}
.f9{
	position: absolute;
	width: 87.2%;
	height: 9.375vh;
	left: 50%;
	transform: translateX(-50%);
	top: 41.45vh;
	border: 3px solid #9a7b4f;
	box-sizing: border-box;
	border-radius: 20px;
}
.emphasize{
	position: absolute;
	left: 9.8vw;
	top: 20%;
	font-family: Alfa Slab One;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4vw;
	line-height: 1.875vw;
	color: #BF6B04;
}
.salad{
	position: absolute;
	width: 7.2vw;
	height: 9.375vh;
	left: 1.25vw;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: url(../images/salad.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	overflow: hidden;
}
.f10{
	position: absolute;
	width: 78.6%;
	height: 11.6vh;
	left: 0.83vw;
	top: 68.75vh;
	
}
.ava2{
	position: absolute;
	width: 2vw;
	height: 2vw;
	left: 1.53vw;
	top: 1.36vh;
	background: url(../images/bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	border-radius: 50%;
	overflow: hidden;
}
.bubble1{
	position: absolute;
	width: 35%;
	height: 5.64vh;
	left: 4.36vw;
	top: 0;
	background: #F2F2F2;
	border-radius: 18px 18px 18px 4px;
}
.t1{
	position: absolute;
	left: 10.24%;
	right: 9.11%;
	top: calc(50% - 24px/2 + 0.13px);
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: normal;
	font-size: 1.25vw;
	line-height: 1.7vw;
	color: #2C3A57;
}
.bubble2{
	position: absolute;
	width: 95%;
	height: 5.64vh;
	left: 4.36vw;
	top: 6vh;
	
	background: #F2F2F2;
	border-radius: 4px 18px 18px 18px;
}
.send{
	position: absolute;
	width: 100%;
	height: 11vh;
	left: 0;
	top: 80.2vh;
}
input[type=text]{
	position: absolute;
	width: 96%;
	height: 4.5vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-left: 1.4vw;
	background: #F2F2F2;
	border: none;
	border-radius: 18px;
}
.t{
	left: 11.11%;
	right: 36.87%;
	top: calc(50% - 1.4vw/2);
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: normal;
	font-size: 1.25vw;
	line-height: 1.4vw;
	color: #2C3A57;
}
.bg{
	position: absolute;
	width: 67vw;
	height: 91.3vh;
	top: 8.8vh;
	left: 0;
	background: url(../images/bg.png);
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center 75%; 
	mix-blend-mode: darken;
	filter: blur(3px); 
	overflow: hidden;
	z-index: -1;
}
.box1{
	position: relative;
	width: 80vw;
	height: 30px;
	left: 10vw;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	margin-top: 1vh;
	background-color: rgba(255, 255, 255, 0.9);
	box-sizing: border-box;
	border: 3px solid #9a7b4f;
	border-radius: 20px;
	display: none;
	z-index: 1;
}
.box1.hover{
	background-color: #9a7b4f;
}
.close{
	display: none;
	border: none;
	background: url("../images/close.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	overflow: hidden;
	width: 1.5vh;
	height: 1.5vh;
	top: 0.8vh;
	right: 0.8vh;
	z-index: 2;
  }
.bubble{
	display: none;
	position: sticky;
	left: 85.42%;
	top: 5vh;
	width: 5vh;
	height: 5vh;
	background: url(../images/bubble.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	overflow: hidden;
	z-index: 1;
}
@media (max-width: 425px){
	.homeimg{display: none;}
	.home{margin: auto; font-size: 30px;}
	.user{left: 85vw;}
	.login{display: none;}
	.box1{display: block;}
	.bubble{display: block;}
	.chatbox{display: none; width: 100vw; left: 0;}
	.bg{width: 100%;}
	.box{display: none;}
	.nav_bar_text{font-size:medium;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.t, .t1, .t2, .gia, .gia2, .rec, .name, .ll{font-size: medium;}
	.emphasize{font-size: large; left: 10vh;}
	.gia{left: 10vh;}
	.gia2{left: 16.7vh;}
	.rec{margin-top: 1vh;}
}
